body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn-tracker {
    font-size: 24px;
    color: black;
}

.turn-tracker.player1 {
    color: #65a800;
}

.turn-tracker.player2 {
    color: #9b0000;
}

.rows {
    display: flex;
    gap: 15px;
    margin: 0 0 15px 0;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 16px;
    color: black;
}

.cell.player1 {
    font-size: 32px;
    background-color: greenyellow;
}

.cell.player2 {
    font-size: 32px;
    background-color: #ff0000;
}

h2.player1 {
    font-size: 32px;
    color: #65a800;
}

h2.player2 {
    font-size: 32px;
    color: #9b0000;
}

h2.tie {
    font-size: 32px;
    color: #808080;
}

.rematch-button {
    width: 150px;
    height: 50px;
    font-size: 24px;

}